<div class="col-lg-4 mt-4 mt-lg-0 w-100 sidebar">

  <!-- RECENT POSTS -->
  <section class="card rounded-0 border-0 shadow-none bg-light mb-4">
    <div class="card-body">
      <div class="widget-title">
        <h6 class="fw-bold">RECENT</h6>
      </div>
      {% for post in site.posts limit:10 %}
      {% if post.url != page.url %}
      <div class="d-flex mb-3">
        <!-- IMAGE -->
        <div class="me-2">
          <a href="{{ post.url | relative_url }}">
            <img
              src="{% if post.image %}{{ post.image | relative_url }}{% else %}{{ '/assets/images/default.jpg' | relative_url }}{% endif %}"
              style="width: 120px; height: 75px; object-fit: cover;" loading="lazy" alt="{{ post.title }}">
          </a>
        </div>
        <div>
          <a href="{{ post.url | relative_url }}" class="text-decoration-none text-dark link-success">
            <small class="fw-semibold d-block text-dark link-success">
              {{ post.title | truncate: 50 }}
            </small>
          </a>
        </div>

      </div>
      {% endif %}
      {% endfor %}

    </div>
  </section>

  <!-- CATEGORIES -->
  <section class="card rounded-0 border-0 shadow-none bg-light mb-4">
    <div class="card-body">
      <div class="widget-title">
        <h6 class="fw-bold">CATEGORIES</h6>
      </div>
      <ul class="list-unstyled mb-0">
        {% for category in site.categories %}
        <li class="mb-2 d-flex justify-content-between">
          <a href="/categories/#{{ category[0] | slugify | downcase }}" class="text-capitalize text-decoration-none">
            {{ category[0] }}
          </a>
          <span class="badge bg-light text-dark">
            {{ category[1].size }}
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <!-- ADSIDEBAR -->
  <section class="card rounded-0 border-0 shadow-none bg-light mb-4">
    <div class="card-body">
      <div class="widget-title">
        <h6 class="fw-bold">SPONSOR</h6>
      </div>
      <div class="text-center overflow-hidden">
        {% include adsidebar.html %}
      </div>
  </section>

  <!-- TAGS -->
  <section class="card rounded-0 border-0 shadow-none bg-light mb-4">
    <div class="card-body">
      <div class="widget-title">
        <h6 class="fw-bold">TAGS</h6>
      </div>
      <div class="d-flex flex-wrap gap-1">
        {% assign sorted_categories = site.categories | sort %}
        {% for category in sorted_categories %}
        {% if category[0] != "" %}
        <a href="/categories/#{{ category[0] | slugify | downcase }}"
          class="small text-primary link-success text-decoration-none border border-1 rounded-0 text-capitalize px-2 py-1 rounded">
          {{ category[0] }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- PARTNER -->
  <section class="card rounded-0 border-0 shadow-none bg-light mb-4">
    <div class="card-body">
      <div class="widget-title">
        <h6 class="fw-bold">PARTNER</h6>
      </div>
      <div class="card-body p-0">
        <ul class="list-style">
          <li><a href="https://aridjaya.com" target="_blank"
              class="d-block py-1 text-decoration-none border-bottom text-danger link-primary fw-semibold">
              Aridjaya</a></li>
          <li><a href="https://indonesiya.com" target="_blank"
              class="d-block py-1 text-decoration-none border-bottom text-danger link-primary fw-semibold">
              Indonesiya</a></li>
          <li><a href="https://hanapha.com" target="_blank"
              class="d-block py-1 text-decoration-none border-bottom text-danger link-primary fw-semibold">
              hanapha</a></li>
          <li><a href="https://asninfo.id" target="_blank"
              class="d-block py-1 text-decoration-none border-bottom text-danger link-primary fw-semibold">
              ASN Info</a></li>
          <li><a href="https://maginve.com" target="_blank"
              class="d-block py-1 text-decoration-none text-danger link-primary fw-semibold">Maginve</a></li>
        </ul>
      </div>
    </div>
  </section>

</div>